.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 100px auto;
    background-color: #ecd6c7;
    box-shadow: 10px 10px 5px #716e77;
    border:2px solid;
    border-radius:25px;
}

.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.background {
    background-image: url('img/background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.btn-primary {
    background-color: #f1ac9d;
    border-color: #f1ac9d;
}
.btn-primary:hover {
    background-color: #e79686;
    border-color: #e79686;
}

