<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>斗地主</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/stylesheet.css" type="text/css" charset="utf-8">
    

    

    </head>
    <body>
      <div >
          <canvas id="maincanvas" width="760" height="428" style="position: absolute; left: 0px; top: 0px; background: rgb(0, 0, 0); transform-origin: 0px 0px 0px;">您的浏览器不支持canvas标签</canvas>
      </div>
<!--
        <div class="background">

            <div class="container-fluid">
                <div class="row flex-xl-nowrap" style="padding: 20px;">
                    <div class="col-3" style="color:white"><p class="pixl">房间名：{{roomname}}</p></div>
                    <div class="col-3" style="color:white"><p class="pixl">房间id：{{roomid}}</p></div>
                    <div class="col-3" style="color:white"><p class="pixl">用户名：{{playername}}</p></div>
                    <div class="col-3" style="color:white"><p class="pixl">用户id：{{playerid}}</p></div>       
                </div>
            </div>
            <div class="container">
                <div class="row col-12 flex-xl-nowrap" style="padding: 20px;background-color: #ecd6c7;">
                </div>
            </div>
        </div>



        
        用户名：{{playername}} <br/>
         <br/>
        <div id="result" style="color:red">{{result}}</div>
        <br/>
        <div id="publicmessage"></div>
        <div id="playerstate"></div>
        <div id="playerscore"></div>
        <div id="playerrole"></div>
        <div id="playercards"></div>
        <div id="lastcards"></div>
        <br/>
        <input type="text" id="outcards">
        <button class="btn btn-lg btn-primary btn-block" id="ready" >准备</button>
        <button class="btn btn-lg btn-primary btn-block" id="grab" >抢地主</button>
        <button class="btn btn-lg btn-primary btn-block" id="notgrab" >不抢</button>
        <button class="btn btn-lg btn-primary btn-block" id="out" >出牌</button>
        <button class="btn btn-lg btn-primary btn-block" id="pass" >不出</button>
        <button class="btn btn-lg btn-primary btn-block" id="quit" >退出游戏</button>
        
      -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script>
          var roomid = {{roomid}};
          var playerid = {{playerid}};
          var roomname = "{{roomname}}";
          var playername = "{{playername}}";
        
        </script>
      <script src="../static/js/refresh.js"></script>
      <script src="../static/js/canvas.js"></script>

    </body>
</html>
